
@{
    ViewBag.Title = "FutureEvents";
}
<div class="jumbotron">
    <h2><u>FutureEvents</u></h2>
<p>Anoymous and public user can not go to event page and not allow to access the event link </br>
    first, need to allow create/register on the website.</p>
<ol>
    <li><h2><a href="@Url.Action("EventEdit","Home")" class="btn btn-primary btn-lg"> Ghost &raquo;</a></h2></li>
    <li><h2><a href="@Url.Action("AttackEventEdit","Home")" class="btn btn-primary btn-lg">Attack &raquo;</a></h2></li>
    <li><h2><a href="@Url.Action("CryptocurrencyEventEdit","Home")" class="btn btn-primary btn-lg">Cryptocurrency &raquo;</a></h2></li>
    <li><h2><a href="@Url.Action("ThermodynamicsEventEdit","Home")" class="btn btn-primary btn-lg">Thermodynamics &raquo;</a></h2></li>
    <li><h2><a href="@Url.Action("RDSharmaEventEdit","Home")" class="btn btn-primary btn-lg">RD Sharma- &raquo;</a></h2></li>
</ol>
</div>
<address>

    <strong> Customer Help & Support :</strong> <a href="http://www.helpdesk@nagarro.com">helpdesk@nagarro.com</a>
</address>